* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/assets/fondo-arcade.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  /* align-content: center;
  justify-content: center; */
}

/* CABECERA */
.title {
  margin: 1rem;
  display: flex;
  height: 15%;
  background: url("/assets/LOGO MG.svg") no-repeat center;
}

.title img {
  padding-top: 2rem;
  margin: 0 auto;
  width: auto;
}
/* PANELES */
main {
  height: 65%;
  width: 100%;
  margin: 5px auto;
}

section.panel {
  min-height: 100%;
  font-size: 2rem;
  text-align: center;
  display: grid;
  place-content: center;
  color: white;
}
section.panel.hidden {
  display: none;
}

footer.hidden {
  display: none;
}

footer {
  margin-top: 1rem;
  display: flex;
  margin: 0 auto;
}
footer section p {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin: 5px auto;
  text-shadow: 2px 2px 2px 2px #6f81fa;
}

/* PANEL DE INICIO */
.start p {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
}
.start header h3 {
  font-size: 1.5rem;
  padding: 0 10px;
}
input {
  width: 15rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  text-transform: uppercase;
  justify-self: center;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.cta {
  margin-top: 3rem;
  padding: 1rem;
  font-weight: bold;
  width: 10rem;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 15px;
  justify-self: center;
  border: 2px solid black;
  color: white;
  background: linear-gradient(#6f81fa, #d55582);
}

/* PANEL DE CARTAS */
.board {
  margin: 0 auto;
  padding: 1rem 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: stretch;
  align-items: stretch;
  gap: 1rem;
  /* cursor: pointer; */
}

.card {
  width: 100%;
  height: 100%;
  perspective: 600px;
  transition: 500ms;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front {
  background: url("/assets/RECURSO\ CARTAS.svg") no-repeat center center;
  background-size: cover;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  display: grid;
  place-content: center;
  border-radius: 1rem;
  backface-visibility: hidden;
  user-select: none;
  transform-style: preserve-3d;
  /* cursor: pointer; */
}

.card:active {
  transform: scale(0.9);
  transition: transform ease 0.1s;
}

.front:hover {
  box-shadow: 2px 2px 2px 2px rgb(60, 60, 59);
}

.back {
  background: linear-gradient(#6f81fa, #d55582);
  transform: rotateY(180deg);
  /* font-size: 50px; */
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

/*PANEL FINAL*/
section.panel.end {
  place-content: flex-start;
}
section.panel.end h3 {
  margin-top: 2rem;
}
section.panel.end p {
  margin-top: 0.5rem;
}
@media (min-width: 550px) {
  main {
    width: 85%;
  }
}
@media (min-width: 650px) {
  main {
    width: 75%;
  }
}
@media (min-width: 750px) {
  main {
    width: 65%;
  }
}
@media (min-width: 850px) {
  main {
    width: 55%;
  }
}
@media (min-width: 1000px) {
  main {
    width: 45%;
  }
  .back,
  .front {
    font-size: 3rem;
  }
}
@media (min-width: 1400px) {
  main {
    width: 30%;
  }
}
